.bois-template-default {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333333;
  background-color: #ffffff;
}

.bois-template-default body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.6;
  margin: 0;
  padding: 0;
}

.bois-template-default .card {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
  width: 80%;
  margin: 0 auto;
  border: 1px solid #ddd;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.bois-template-default .card img {
  width: 50%;
  height: auto;
  object-fit: cover;
}

.bois-template-default .card .description {
  width: 50%;
  padding: 20px;
}



.bois-template-default .site-footer {
  background-color: #333;
  color: #fff;
  padding: 40px 0;
  text-align: center;
}

.bois-template-default .footer-content {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
}

.bois-template-default .site-info {
  background-color: #444;
  padding: 10px 0;
  text-align: center;
}

.bois-template-default .site-info p {
  margin: 0;
}
